<html>
<head>
<title></title>
</head>

<body>
    <h1>Titulo da página</h1>
    <hr/>

    <p>Opa, tudo bem {{ user }}?</p>
    <p>Qual sua idade?</p>
    <p>Profissão {{teste.profissao}}</p>
    
    {{#showAge}}
        <p>Idade: {{idade}}</p>
    {{/showAge}}

    {{#showWelcome}}
        <p> Bem vindo, {{user}}!</p>
    {{/showWelcome}}



</body>


</html>
