{{>partials/header}}

<form method="POST" action="/envio-resultado">
    <label>Informe seu nome:</label>
    <input type="text" name="nome"><br/>
    <label>Informe seu ano de nascimento:</label>
    <input type="number" name="ano" required>

    <input type="submit" value="Enviar">
    
  

    {{#nome}}
        <hr/>
        <p>Olá {{nome}}, você tem {{idade}} </p>
    {{/nome}}
    {{^nome}}
        <hr/>
        <p>{{nomeNull}}</p>
    {{/nome}}



</form>


{{>partials/footer}}