{{>partials/header}}

    <p>Opa, tudo bem {{ user }}?</p>
    <p>Qual sua idade?</p>
    <p>Profissão {{teste.profissao}}</p>
    
    {{#showAge}}
        <p>Idade: {{idade}}</p>
    {{/showAge}}

    {{#showWelcome}}
        <p> Bem vindo, {{user}}!</p>
    {{/showWelcome}}
   <!--Else-->
    {{^showWelcome}}
        <p> Beleza, {{user}}!</p>
    {{/showWelcome}}


<hr/>

<h2>Produtos</h2>

<ul>
    {{#products}}
        
    {{/products}}
</ul>

<hr/>

<h2>Teste</h2>

<ul>
    {{#lista}}
        <li>{{.}}</li>
    {{/lista}}

<hr/>

<h2>Teste</h2>
 <!-- else - se não existir valor dentro da lista irá exibir isso-->
    {{^lista2}}
        Não existe teste.
    {{/lista2}}
</ul>

<hr/>

<h2>Teste</h2>

<ul>
    {{#expensiveList}}
        {{>partials/productItem}}
    {{/expensiveList}}

<hr/>

<h2>Teste</h2>
 <!-- else - se não existir valor dentro da lista irá exibir isso-->
    {{^lista2}}
        Não existe.
    {{/lista2}}
</ul>



{{>partials/footer}}
